/* Custom variants for themes and page context */
@custom-variant bmj (&:where([data-theme="bmj"], [data-theme="bmj"] *));
@custom-variant metaplanet (&:where([data-theme="metaplanet"], [data-theme="metaplanet"] *));


/*@theme  inline {
  --font-metaplanet-font-mono: var(--font-ibm-plex-mono);
}*/

/* search Container Positioning & Background */
.search-layout-container {
  @variant bmj {
    font-family: var(--font-headline);
  }
  
  @variant metaplanet {
     font-family: var(--font-ibm-plex-mono);
     font-weight: 400;
  }
}